<div class="text-center text-uppercase font-weight-bold">
  <span style="font-size: 24px">Tạo mới photo</span>
</div>
<form #photoForm = "ngForm" (ngSubmit)="addPhoto(photoForm)">
  <label class="col">
    Title:
    <input type="text" name="title" ngModel class="form-control">
  </label>
  <label class="col">
    Url:
    <input type="text" name="url" ngModel class="form-control">
  </label>
  <label class="col">
    ThumbnailUrl:
    <input type="text" name="thumbnailUrl" ngModel class="form-control">
  </label>
  <div class="col">
    <button class="btn btn-info" type="submit">Tạo mới</button>
  </div>
</form>
