<div class="container-fluid" >
  <div class="mt-lg-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>
  </div>
  <div class="row mt-lg-5">
    <div class="col-lg-2">
      <div>
        <a routerLink="/">Trang chủ</a>
      </div>
      <div class="mt-lg-4">
        <a routerLink="/list-photo">Photo</a>
      </div>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
